@tailwind base;
@tailwind components;
@tailwind utilities;
/* Archivo: tailwind.css */

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb-rounded {
    scrollbar-color: #11233f #0c0d18; /* thumb color and track color */
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar {
    width: 8px; /* ancho de la barra */
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* color del thumb */
    border-radius: 8px; /* borde redondeado */
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-track {
    background: #1f2937; /* color de la pista */
  }
}
